@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
html {
	background-color: #e5e5e5;
	outline: 0;
	font-family: "Merriweather Sans", sans-serif;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	min-width: 360px;
	margin-top: 10%;
	color: #eeeeee;

}

.mainContainer .content {
	min-height: 800px;
	width: 50%;
	min-width: 340px;
}

.mainContainer .content .contentTitle {
	color: #1c252e;
    font-size: 65px;
    font-weight: bolder;
    letter-spacing: -.2px;
    margin-bottom: 30px;
    text-transform: none;
}

.mainContainer .content h2 {
	color: #3C4858;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 24px;
	text-align: justify;
	text-justify: inter-word;
}

.mainContainer .content .text p {
	color: #292928;
	font-size: 1.2em;
	line-height: 24px;
	margin: 0 0 24px;
	text-align: justify;
	text-justify: inter-word;
	padding-left: 10px;
}

.mainContainer .content .text li {
	color: #292928;
	font: bold 1.3em;
	margin-bottom: 20px;
}

.mainContainer .content .textLink{
	text-decoration: none;
	color: #292928;
	font-weight: bolder;
	transition: ease-in 0.4s ;
}

.mainContainer .content .textLink:hover{
	text-decoration: none;
	color: #ffffff;
	background-color: #292928;
}

footer {
	color: #000;
	margin-top: 10px;
}

footer a {
	color: #3C4858;
	text-decoration: none;
	font-weight: bold;
}

footer a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}


@media (max-width: 650px) {
	.mainContainer .content h2 {
		font-size: 1.2em;
	}
	.mainContainer .content .text p  {
		grid-template-columns: 1fr;
		font-size: 1em;
		width: 100%;
	}
	
	.mainContainer .content .text li {
		font-size: 1em;
	}
}
